<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Materi 7-4</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>

  <style>
    body {
      font-style: oblique;
    }
  </style>
</head>
<body>
  <div id="aplikasi">
    <h1>Belajar Vue Router</h1>

    <!-- Pengganti tanda <a href=""></a> -->
    <router-link to="/">Beranda</router-link>
    <router-link to="/informasi">Informasi</router-link>
    <router-link to="/kategori-kategori">Kategori-Kategori</router-link>

    <hr>

    <!-- Untuk menampilkan komponen secara dinamis, sesuai dengan rute yang diakses -->
    <router-view></router-view>
  </div>

  <script type="module">
    import {KomponenKategoriKategori} from './KomponenKategoriKategori.js'
    import {KomponenKategori} from './KomponenKategori.js'

    // Kita membuat 2 komponen, yaitu Beranda dan Informasi
    const Beranda = {template: '<div>Ini halaman Beranda</div>'}
    const Informasi = {template: '<div>Ini halaman Informasi</div>'}

    // https://t.me/c/1649336115/350
    const TidakDitemukan = {template: `<div>404 Tidak Ditemukan</div>`}

    const KomponenFilm = {
      computed: {
        judul() {
          const slug = this.$route.params.slug

          return slug.split('-').join(' ').toUpperCase()
        }
      },
      template: `
        <div>Film: {{ judul }}</div>
      `,
    }

    // Kemudian kita arahkan setiap rute ke komponen yang kita inginkan
    const ruteRute = [
      {path: '/', component: Beranda, alias: '/beranda'},
      {path: '/informasi', component: Informasi, meta: {masuk: true}},
      {path: '/kategori-kategori', component: KomponenKategoriKategori},
      {path: '/kategori/:id', component: KomponenKategori},
      // {path: '*', redirect: '/'},

      // https://t.me/c/1649336115/350
      {path: '/404', component: TidakDitemukan, name: 'TidakDitemukan'},
      {path: '*', redirect: '/404'},
      {path: '/film/:slug', component: KomponenFilm, name: 'Film'},
    ]

    // Kemudian kita instansiasi objek VueRouter dan tambahkan ruteRute yang sudah kita buat tadi
    const perute = new VueRouter({
      // mode: 'history',
      routes: ruteRute,
    })

    // (Skenario)
    perute.beforeEach((to, from, next) => {
      if (to.matched.some(record => record.meta.masuk)) {
        let autentikasi = false

        if (!autentikasi) {
          alert('Anda harus masuk untuk melihat halaman ini.')

          next(false)
        } else {
          alert('Ini adalah sebuah informasi …')

          next()
        }
      } else {
        next()
      }
    })

    // Kemudian kita tambahkan objek VueRouter yang kita namakan perute ke objek Vue
    const vm = new Vue({
      el: '#aplikasi',
      router: perute,
    })
  </script>
</body>
</html>
